@{
}

<hgroup class="title">
    <h1>Registration Confirmation</h1>
</hgroup>
<div>
    <p>
        Thanks for registering your interest. You will start receiving an e-mail with the list of feature products.
    </p>
</div>
